# 忽略 Rust 的编译输出目录
/target/
**/target/

package.json
package-lock.json

# 忽略 Cargo 的调试文件
Cargo.lock

# 忽略 IDE 配置文件（如 VSCode）
.vscode/

# 忽略系统文件（如 macOS 的 .DS_Store）
.DS_Store

# Node modules
node_modules/

compiler/generate_test/
compiler/generate/

*.zip
*.7z